
__pycache__/

game_logs/

mapgen/

maps/

sample_bots/

submission_test/

visualizer/

\.engine\.py\.un~

VERSION

ants\.py

engine\.py

engine\.py~

game\.py

play_one_game\.sh

play_one_game_live\.sh

playgame\.py

sandbox\.py

test_bot\.sh

visualizer\.jar
